<div class="px-3 py-4 text-xs bg-popover w-72 rounded-sm h-full">
  <div class="flex items-center pb-5 gap-2">
    <p class="font-semibold ">{{ title }} {{ tasks.length }}</p>
    @if(state === 'DONE') {
      <hlm-icon name="lucideCheck" size="sm" class="text-green-800"/>
    }
  </div>
  <div
    cdkDropList
    [cdkDropListData]="tasks()"
    (cdkDropListDropped)="drop($event)"
    class="h-[21rem] overflow-y-scroll no-scrollbar flex flex-col gap-1">
    @for (task of tasks(); track task){
      <app-task-card [task]="task" [state]="state"/>
    }
    @if (state === 'TODO') {
      <hlm-sheet side="right">
        <button brnSheetTrigger class="w-full flex gap-2 hover:bg-secondary items-center rounded-sm transition duratio-300 cursor-pointer p-2">
          <hlm-icon name="lucidePlus" />
          <p class="text-sm font-semibold">Create task</p>
        </button>
        <app-todo-sheet />
      </hlm-sheet>
    }
  </div>
</div>
