# Logs
logs
*.log
package-lock.json
.pnpm-debug.log*

.env.test.local
.env.development.local
.env.production.local

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo
.vercel